ssh_config: ../.teefaa/ssh_config
ssh_key: ../.teefaa/ssh_key

snapshot_config:
  #snapshot_path: ../.teefaa/ubuntu1204-2014-01-12.squashfs
  #os:
  #  distro: ubuntu
  #  ver: 12.04
  snapshot_path: ../.teefaa/centos6_base-2013-12-10.squashfs
  os:
    distro: centos
    ver: 6.5
  hostname: centos65
  #exclude:
  #  - /path/to/excluded/dir

iso_config:
  base_iso: debian-live-7.2-amd64-standard.iso
  base_iso_url: http://cdimage.debian.org/debian-cd/current-live/amd64/iso-hybrid/debian-live-7.2-amd64-standard.iso
  builder:
    hostname: ubuntu1204
    distro: ubuntu
  iso_path: ../.teefaa/teefaa-debian-live.iso

# VirtualBox
host_config:
  hostname: ubuntu1204
  power_driver: virtualbox
  power_driver_config:
    vbox_name: teefaa_ubuntu1204_XXXXXXXXXXXXX_XXXXX
  boot_driver: virtualbox
  boot_driver_config:
    installer_boot: iso
    iso_file: ../.teefaa/teefaa-debian-live.iso

# Baremetal
#dest_host:
#  hostname: host1
#  power_driver: ipmi
#  power_driver_config:
#    ipmi_password: XXXXXXXXXX
#    ipmi_user: ipmiadmin
#    bmc_address: 192.168.1.1
#  boot_driver: pxe
#  boot_driver_config:
#    boot_config_file: /tftpboot/pxelinux.cfg/host1
#    installer_boot_config_file: /tftpboot/pxelinux.cfg/netboot
#    disk_boot_config_file: /tftpboot/pxelinux.cfg/localboot

disk_config:
  label_type: mbr
  device: /dev/sda
  swap:
    size: 2
  system:
    size: 10
    format: ext4
  data:
    size: -1
    dir: /data
    format: xfs

network_config:
  add:
    eth0:
      bootp: dhcp
    eth1:
      bootp: static
      address: 192.168.32.101
      netmask: 255.255.255.0
      #gateway: 192.168.32.254
      #dnsserver: 192.168.32.1
  #delete:
    #- ib0
    #- br0
